/*Sources: http://www.w3schools.com/tags/ref_colorpicker.asp*/


body{

text-align: center;
background-color: #0000CC;
color: white;  
font-size: 150%; 
font-family: 'Ubuntu', sans-serif;

}

#Homepage h1{

margin-top: 40px; 

}


#Homepage img{

margin-bottom: 20px;
height: 320px;
width: 210px; 

}

#Homepage p{

margin: 5px; 

}

#map{ 

height: 800px; 

}