<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>HubHop</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html>