<!--SOURCES: (1) stackoverflow - "How retrieve latitude and longitude via Google Maps API?"-->
<!--Response from RedBlueThing  answered May 5 '10 at 3:36:-->
<!--http://stackoverflow.com/questions/2770421/how-retrieve-latitude-and-longitude-via-google-maps-api--> 
<!--(2) w3schools-->
<!--Used this source to relearn how to extract from textfields in javascript-->
<!--http://www.w3schools.com/jsref/prop_text_value.asp-->
<!--(3) w3schools-->
<!--Learned how to add labels to textfields-->
<!--http://www.w3schools.com/tags/tag_label.asp-->
{% extends "base.html" %}
{% block content %}
    <a href="/" alt="Link to homepage page">&lt</a> LOCATION <a href="/results" alt="Link to results page">&gt</a></h1>
        <div id="floating-panel">
    
      <div id = "startPkg">
      <label for="Start Address: ">Start Address: </label>
      <input id="start" type="textbox" value="Sydney, NSW">
      </div>
      
      <div id = "endPkg">
      <label for="Destination: ">Destination: </label>
      <input id="end" type="textbox" value="Sydney, NSW">
      </div>
      
      <input id="submit" type="button" value="Search">
    </div>
    <div id="map"></div>

{% endblock %}
    
    
    
    
<script>
    function initMap() {

    console.log("start initMap()");
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: -34.397, lng: 150.644}
    });
    
    console.log("map created");
    var geocoder = new google.maps.Geocoder();

    document.getElementById('submit').addEventListener('click', function() {
        geocodeAddress(geocoder, map);
    });
    
    //store addresses of start and endpoints
    
    var startPT = document.getElementById("start").value; //Used information from Source 2
    var endPT = document.getElementById("end").value;
    
    
    //For compiling purposes, I am giving each array these temporary values
    var startLAT = startPT; 
    var startLNG = startPT;
    
    var endLAT = endPT;
    var endLNG = endPT;
    
    
    //The next two functions store the values of lat/lng for our start and end point 
    geocoder.getLatLng(startPT, function(point){ //Modified from Source1
            startLAT = point.y;
            startLNG = point.x;  

    }); 
        
    geocoder.getLatLng(endPT, function(point){ //Modified from Source1
            endLAT = point.y;
            endLNG = point.x;  

    });
    
    //This code needs to be debugged
    var flightPlanCoordinates = [
        {lat: startLAT, lng: startLNG},
        {lat: endLAT, lng: endLNG}

    ];
    
    var flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
    });

    flightPath.setMap(map);
    
    //end of code that needs to be debugged
    
    }

    function geocodeAddress(geocoder, resultsMap) {
    var start = document.getElementById('start').value;

        var end = document.getElementById('end').value;

    geocodeAddressHelper(geocoder, resultsMap, start); //change to start 
    geocodeAddressHelper(geocoder, resultsMap, end); //change to end
    }

    function geocodeAddressHelper (geocoder, resultsMap, address) {
    geocoder.geocode({'address': address}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location
        });
        } else {
        alert('Geocode was not successful for the following reason: ' + status);
        }
    });
    
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQfwzjKLpkeSUq34yjWHxzw8K02ddsRwU&signed_in=true&callback=initMap"
        async defer></script>
